<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=display-width">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <title>Guides</title>
</head>

<body>
    <section class="container">
        <%-include ('blocks/header') %>
            <h1 class="guides">Guides Page</h1>
            <%-include ('blocks/footer') %>
    </section>
    <style>
        .guides {
            margin: 10vw auto;
            height: 20vw;
            font-size: 6vw;
        }
    </style>
</body>

</html>