<header>
    <div class="burger_button">
        <input type="checkbox" id="check-menu">
        <label for="check-menu">
            <span class="burger_line first"></span>
            <span class="burger_line second"></span>
            <span class="burger_line third"></span>
            <span class="burger_line fourth"></span>
        </label>
        <ul class="menu_mobile">
            <li><a href="/">Home</a></li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/flights">Flights</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
    <nav class="menu_pc">
        <a class="button_home" href="/">Home</a>
        <a href="/guides">Guides</a>
        <a href="/flights">Flights</a>
        <a href="/about">About</a>
        <a class="button_contact" href="/contact">Contact Us</a>
    </nav>
</header>